name: Lint GitHub Actions workflows
on: [push, pull_request]

permissions:
  contents: read
  pull-requests: write

jobs:
  actionlint:
    uses: devops-actions/.github/.github/workflows/actionlint.yml@main
    permissions:
      contents: read
      pull-requests: write
