name: Build the action

on: 
  pull_request: 

  workflow_dispatch:

# Declare default GITHUB_TOKEN permissions as read only.
permissions: read-all
    
jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      - name: Compile with NPM
        run: |
          npm ci
          npm run all
      
  dependency-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      
      - name: 'Dependency Review'
        uses: actions/dependency-review-action@72eb03d02c7872a771aacd928f3123ac62ad6d3a # v4.3.3

  update-dist:
    runs-on: ubuntu-latest
    needs: [build, dependency-check]
    if: github.event_name == 'pull_request' && github.event.action == 'closed' && github.event.pull_request.merged == true
    steps:    
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      - name: Compile with NPM
        run: |
          npm ci
          npm run all

      - name: Commit changes if any
        run: |
          if [ -z "$(git status --porcelain)" ]; then 
            echo "Found changes to commit"
            git config --global user.email "github-actions[bot]@users.noreply.github.com"
            git config --global user.name "github-actions[bot]"

            git add dist/
            git commit -m "Update dist folder"
            git push
          fi



